<%= form_with(model: nonconformity) do |form| %>
  <% if nonconformity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nonconformity.errors.count, "error") %> prohibited this nonconformity from being saved:</h2>

      <ul>
        <% nonconformity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vehicleParts_id, style: "display: block" %>
    <%= form.text_field :vehicleParts_id %>
  </div>

  <div>
    <%= form.label :vehicle_id, style: "display: block" %>
    <%= form.text_field :vehicle_id %>
  </div>

  <div>
    <%= form.label :nonconformityTypes_id, style: "display: block" %>
    <%= form.text_field :nonconformityTypes_id %>
  </div>

  <div>
    <%= form.label :nonconformityLevels_id, style: "display: block" %>
    <%= form.text_field :nonconformityLevels_id %>
  </div>

  <div>
    <%= form.label :quadrants_id, style: "display: block" %>
    <%= form.text_field :quadrants_id %>
  </div>

  <div>
    <%= form.label :measures_id, style: "display: block" %>
    <%= form.text_field :measures_id %>
  </div>

  <div>
    <%= form.label :nonconformityLocals_id, style: "display: block" %>
    <%= form.text_field :nonconformityLocals_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
