<div id="<%= dom_id nonconformity %>">
  <p>
    <strong>Vehicleparts:</strong>
    <%= nonconformity.vehicleParts_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= nonconformity.vehicle_id %>
  </p>

  <p>
    <strong>Nonconformitytypes:</strong>
    <%= nonconformity.nonconformityTypes_id %>
  </p>

  <p>
    <strong>Nonconformitylevels:</strong>
    <%= nonconformity.nonconformityLevels_id %>
  </p>

  <p>
    <strong>Quadrants:</strong>
    <%= nonconformity.quadrants_id %>
  </p>

  <p>
    <strong>Measures:</strong>
    <%= nonconformity.measures_id %>
  </p>

  <p>
    <strong>Nonconformitylocals:</strong>
    <%= nonconformity.nonconformityLocals_id %>
  </p>

</div>
