<div id="<%= dom_id nonconformity %>">
  <p>
    <strong>Vehicleparts:</strong>
    <%= nonconformity.vehicleParts %>
  </p>

  <p>
    <strong>Nonconformitytypes:</strong>
    <%= nonconformity.nonconformityTypes %>
  </p>

  <p>
    <strong>Nonconformitylevels:</strong>
    <%= nonconformity.nonconformityLevels %>
  </p>

  <p>
    <strong>Quadrants:</strong>
    <%= nonconformity.quadrants %>
  </p>

  <p>
    <strong>Measures:</strong>
    <%= nonconformity.measures %>
  </p>

  <p>
    <strong>Nonconformitylocals:</strong>
    <%= nonconformity.nonconformityLocals %>
  </p>

  <p>
    <strong>Vehicles:</strong>
    <%= nonconformity.vehicle_id %>
  </p>

</div>
