<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Location:</strong>
    <%= vehicle.location %>
  </p>

  <p>
    <strong>vehicleType:</strong>
    <%= vehicle.vehicleType %>
  </p>

  <p>
    <strong>Chassis:</strong>
    <%= vehicle.chassis %>
  </p>

  <p>
    <strong>Nonconformity:</strong>
    <%= vehicle.nonconformity %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

  <p>
    <strong>Ship:</strong>
    <%= vehicle.ship %>
  </p>

  <p>
    <strong>Situation:</strong>
    <%= vehicle.situation %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= vehicle.observations %>
  </p>

</div>
